html, body {
  margin: 0;
  overflow-x: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #ff920d, #eb4034, #fc3855);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #ffa73b, #f55c51, #ff546d);
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: Track;
  src: url("../../assets/Track-RegularItalic.ttf");
}

@font-face {
  font-family: Bebas;
  src: url("../../assets/BebasNeue-Regular.ttf");
}

#headbar {
  background-image: linear-gradient(to right, orange, #eb4034, #fc3855);
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 56px;
}

#github-redirect {
  width: 60px;
  height: 40px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #fa3953;
  border-top: 0;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  float: right;
  right: 30px;
  transition: 0.3s;
}

#github-redirect:hover {
  height: 90px;
}

#github-redirect p {
  font-family: "Arial", "sans-serif";
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 29px;
}

#github-redirect img {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  left: 15px
}

#sidebar {
  display: block;
  top: 56px;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #ccc;
}

.dropdown-btn {
  font-size: 15px;
  cursor: pointer;
  margin: 0;
  margin-top: 2px;
  padding-left: 0;
  border: none;
  background: none;
  outline: none;
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  color: #555;
}

.dropdown-btn-icon {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 2px;
}

.dropdown-container {
  display: none;
  padding-left: 30px;
}

.dropdown-single {
  padding-left: 10px;
}

.dropdown-single a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 17px;
    font-weight: 400;
    color: #555;
    margin-left: 15px;
}

.dropdown-single img {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 6px;
  height: 6px;
}

.dropdown-container button, .dropdown-container a {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 0px;
  text-decoration: none;
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  color: #555;
}

.dropdown-container a {
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 15px;
  text-decoration: none;
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  color: #555;
}

.indocs {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: #333;
}

li.indocs {
  margin-top:3px;
}

.indocsh {
  font-family: 'Arial', 'sans-serif';
  color: #222;
}

.dropdown-container img {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 6px;
  height: 6px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.precode {
  display: block;
  position: relative;
  margin-top: -6px;
  width:100%;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #cfc4c4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#prop {
  font-family: 'Georgia', 'Yu Gothic', 'Noto Sans CJK JP Regular', serif;
  font-size:16px;
}

#propa {
  font-family: 'Georgia', 'Yu Gothic', 'Noto Sans CJK JP Regular', serif;
  font-size:13px;
}

#prope {
  font-family: 'Georgia', 'Yu Gothic', 'Noto Sans CJK JP Regular', serif;
  font-size:15px;
}

#cod {
  text-align: left; padding-left:13px;
  font-size: 14px;
}

#coda {
  text-align: left; padding-left:13px;
  font-size: 14px;
  margin-top:45px;
  color: #4f4c4d;
}

#semibold {
  font-weight: bold;
  color: #555;
}

#sh {
  font-weight: bold;
  color: #555;
  font-size:16px;
}

#brr {
  display:block;content:'';margin-top:5px;
}

.attr {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: #333;
  margin-top: -2px;
  margin-left: 20px;
}

.type {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: #333;
  margin-top: 3px;
  margin-left: 30px;
}

.codedocs {
  background-color:rgb(227, 226, 222);
  color:rgb(59, 58, 57);
  padding-left:4px;
  padding-right:4px;
}

.blua {
  color:rgb(92, 138, 189);
  text-decoration:none;
  font-weight:700
}

.blua:hover {
  text-decoration: underline;
}

.gout {
  display: inline-grid;
}

.renkgrid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.renkkutu {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #d6d6d6;
  width:145px;
  height:65px;
}

.renkisim {
  margin: 0;
  text-align: center;
  margin-top: 3px;
}

.renkk {
  border: 1px solid #868686;
  margin: 7px;
  margin-top: 3px;
  width: 90%;
  height: 54%;
}

.verbox {
  height:100px;
  transition: 0.3s;
}

#searchbar {
  margin-left:14px;
  display:inline-block;
  width:60%;
}

#searchbar input {
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size:14px;
  border: 2px solid;
  color: #777;
  outline: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-right: none;
  width: 70%;
  height:25px;
  padding-left:5px;
}

#searchbar input:focus {
  border-color: #f76c0f;
}

#searchbar input:hover {
  border-color: #f76c0f;
}

#searchbar button {
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size:14px;
  border: 2px solid #777;
  background: none;
  background-image: url("../../assets/heat2d_mag.png");
  background-size: cover;
  height:31px;
  width:34px;
  margin-left:-4px;
  outline: none;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  border-left:none;
  background-color: #e8e8e8;
  background-position-x: 1px;
  background-position-y: -3px;
}

#searchbar button:hover {
  border-color: #ff8000;
  background-image: url("../../assets/heat2d_mag2.png");
  background-color: #f5f5f5;
}
