html, body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg);
}

:root {
    --indocs: #333;
    --indocsh: #222;
    --bg: #fff;
    --header: #292922;
    --semibold: #555;
    --codedocs: rgb(227, 226, 222);
    --blua: rgb(92, 138, 189);
    --coda: #4f4c4d;
    --uyaribg: rgb(255, 245, 245);
    --hra: #ccc;

    --keyboard-border: #333;
    --keyboard-char: #333;
    --keyboard-bg: #ebebeb;
    --keyboard-hover: #fafafa;

    --mouse-left: url("../../assets/mouse-left.png");
    --mouse-right: url("../../assets/mouse-right.png");
    --mouse-middle: url("../../assets/mouse-middle.png");
    --mouse-bottom: url("../../assets/mouse-bottom.png");
    --mouse-left2: url("../../assets/mouse-left2.png");
    --mouse-right2: url("../../assets/mouse-right2.png");
    --mouse-middle2: url("../../assets/mouse-middle2.png");

    --controller: url("../../assets/controller-light.png");
}

[data-theme="dark"] {
  --indocs: #b4b4c2;
  --indocsh: #ddddeb;
  --bg: #27272e;
  --header: #f7f7ff;
  --semibold: #e4e4ed;
  --codedocs: #16161c;
  --blua: #7bb4ed;
  --coda: #b1b3b5;
  --uyaribg: #312c36;
  --hra: #ccc;

  --keyboard-border: #efefef;
  --keyboard-char: #efefef;
  --keyboard-bg: #141414;
  --keyboard-hover: #4a4a4a;

  --mouse-left: url("../../assets/mouse-left-dark.png");
  --mouse-right: url("../../assets/mouse-right-dark.png");
  --mouse-middle: url("../../assets/mouse-middle-dark.png");
  --mouse-bottom: url("../../assets/mouse-bottom-dark.png");
  --mouse-left2: url("../../assets/mouse-left-dark2.png");
  --mouse-right2: url("../../assets/mouse-right-dark2.png");
  --mouse-middle2: url("../../assets/mouse-middle-dark2.png");

  --controller: url("../../assets/controller-dark.png");
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  float:right;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #ff920d, #eb4034, #fc3855);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #ffa73b, #f55c51, #ff546d);
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: Track;
  src: url("../../assets/Track-RegularItalic.ttf");
}

@font-face {
  font-family: Bebas;
  src: url("../../assets/BebasNeue-Regular.ttf");
}

#headbar {
  background-image: linear-gradient(to right, orange, #eb4034, #fc3855);
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 56px;
}

#github-redirect {
  width: 60px;
  height: 40px;
  background-color: var(--bg);
  border-style: solid;
  border-width: 2px;
  border-color: #fa3953;
  border-top: 0;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  float: right;
  right: 30px;
  transition: 0.3s;
}

#github-redirect:hover {
  height: 90px;
}

#github-redirect p {
  font-family: "Arial", "sans-serif";
  font-weight: bold;
  color: var(--header);
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 29px;
}

#github-redirect img {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  left: 15px
}

#sidebar {
  display: block;
  top: 56px;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #ccc;
}

.dropdown-btn {
  font-size: 15px;
  cursor: pointer;
  margin: 0;
  margin-top: 2px;
  padding-left: 0;
  border: none;
  background: none;
  outline: none;
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  color: var(--semibold);
}

.dropdown-btn-icon {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 2px;
}

.dropdown-container {
  display: none;
  padding-left: 30px;
}

.dropdown-single {
  padding-left: 10px;
}

.dropdown-single a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 17px;
    font-weight: 400;
    color: var(--semibold);
    margin-left: 15px;
}

.dropdown-single img {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 6px;
  height: 6px;
}

.dropdown-container button, .dropdown-container a {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 0px;
  text-decoration: none;
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  color: var(--semibold);
}

.dropdown-container a {
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 15px;
  text-decoration: none;
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  color: var(--semibold);
}

.indocs {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: var(--indocs);
}

li.indocs {
  margin-top:3px;
}

.indocsh {
  font-family: 'Arial', 'sans-serif';
  color: var(--indocsh);
}

.dropdown-container img {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 6px;
  height: 6px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.precode {
  display: block;
  position: relative;
  margin-top: -6px;
  width:100%;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #cfc4c4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#prop {
  font-family: 'Georgia', 'Yu Gothic', 'Noto Sans CJK JP Regular', serif;
  font-size:16px;
}

#propa {
  font-family: 'Georgia', 'Yu Gothic', 'Noto Sans CJK JP Regular', serif;
  font-size:13px;
}

#prope {
  font-family: 'Georgia', 'Yu Gothic', 'Noto Sans CJK JP Regular', serif;
  font-size:15px;
}

#cod {
  text-align: left; padding-left:13px;
  font-size: 14px;
}

#coda {
  text-align: left; padding-left:13px;
  font-size: 14px;
  margin-top:45px;
  color: var(--coda);
}

#semibold {
  font-weight: bold;
  color: var(--semibold);
}

#sh {
  font-weight: bold;
  color: var(--semibold);
  font-size:16px;
}

#brr {
  display:block;content:'';margin-top:5px;
}

.attr {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: var(--indocs);
  margin-top: -2px;
  margin-left: 20px;
}

.type {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: var(--indocs);
  margin-top: 3px;
  margin-left: 30px;
}

.codedocs {
  background-color: var(--codedocs);
  color:var(--semibold);
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius:7px;
}

.blua {
  color: var(--blua);
  text-decoration:none;
  font-weight:700
}

.blua:hover {
  text-decoration: underline;
}

.gout {
  display: inline-grid;
}

.renkgrid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.renkkutu {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #d6d6d6;
  width:145px;
  height:65px;
}

.renkisim {
  margin: 0;
  text-align: center;
  margin-top: 3px;
}

.renkk {
  border: 1px solid #868686;
  margin: 7px;
  margin-top: 3px;
  width: 90%;
  height: 54%;
}

.verbox {
  height:100px;
  transition: 0.3s;
}

#searchbar {
  margin-left:14px;
  display:inline-block;
  width:60%;
}

#searchbar input {
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size:14px;
  border: 2px solid;
  color: #777;
  background-color: var(--bg);
  outline: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-right: none;
  width: 70%;
  height:25px;
  padding-left:5px;
}

#searchbar input:focus {
  border-color: #f76c0f;
}

#searchbar input:hover {
  border-color: #f76c0f;
}

#searchbar button {
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  font-size:14px;
  border: 2px solid #777;
  background: none;
  background-image: url("../../assets/heat2d_mag.png");
  background-size: cover;
  height:31px;
  width:34px;
  margin-left:-4px;
  outline: none;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  border-left:none;
  background-color: #e8e8e8;
  background-position-x: 1px;
  background-position-y: -3px;
}

#searchbar button:hover {
  border-color: #ff8000;
  background-image: url("../../assets/heat2d_mag2.png");
  background-color: #f5f5f5;
}

.uyari {
  font-family: 'Arial', 'sans-serif';
  font-size: 15px;
  color: var(--indocs);
  padding:17px;
  background-color: var(--uyaribg);
  border: 2px dashed rgb(255, 70, 70);
  border-radius:20px;
  margin-top:40px;
}

.uyarih {
  font-size: 17px;
  color: rgb(255, 90, 90);
}


.img-comp-container {
  position: relative;
  height: 320px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
  border-radius: 50%;
  border: white solid 2px;
}

.img-comp-overlay {
  border-right: white solid 2px;
  border-right-style: dotted;
}

.btn-small {
  width:40px;
  height:40px;
  text-align: center;
  padding:0;
  margin:0;
  line-height: 15px;
  outline:none;
  background-color: var(--keyboard-bg);

  border-radius:7px;
  border: 2px solid var(--keyboard-border);
  border-bottom-width: 6px;
}

.btn-small:hover, .btn-long:hover, .btn-tab:hover {
  background-color: var(--keyboard-hover);
}

.btn-small:active, .btn-long:active, .btn-tab:active {
  border-bottom-width: 2px;
  height:36px;
  position:relative;
  top:3px;
}

.btn-long {
  width:80px;
  height:40px;
  text-align: center;
  padding:0;
  margin:0;
  line-height: 0px;
  outline:none;
  background-color: var(--keyboard-bg);

  border-radius:7px;
  border: 2px solid var(--keyboard-border);
  border-bottom-width: 6px;
}

.btn-tab {
  width:50px;
  height:40px;
  #text-align: center;
  padding:0;
  margin:0;
  line-height: 12px;
  outline:none;
  background-color: var(--keyboard-bg);

  border-radius:7px;
  border: 2px solid var(--keyboard-border);
  border-bottom-width: 6px;
}

.btn-enter {
  width:70px;
  height:40px;
  text-align: center;
  padding:0;
  margin:0;
  line-height: 12px;
  outline:none;
  position:relative;
  background-color: var(--keyboard-bg);
  top: -6px;

  border-radius:7px;
  border: 2px solid var(--keyboard-border);
  border-bottom-width: 6px;
  border-bottom-right-radius: 0;
}

.btn-enter2 {
  width:60px;
  height:57px;
  text-align: center;
  background-color: var(--keyboard-bg);
  padding:0;
  margin:0;
  line-height: 12px;
  outline:none;
  position: absolute;
  margin-left:-64px;
  margin-top:34px;

  border-radius:7px;
  border: 2px solid var(--keyboard-border);
  border-bottom-width: 6px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-enter:hover {
  background-color:var(--keyboard-hover);
}

.btn-enter:active {
  border-bottom-width: 2px;
  height:36px;
  position:relative;
  top:3px;
}

.btn-plus {
  width:40px;
  height:89px;
  text-align: center;
  padding:0;
  margin:0;
  line-height: 12px;
  outline:none;
  position: absolute;
  margin-left:4px;
  background-color: var(--keyboard-bg);

  border-radius:7px;
  border: 2px solid var(--keyboard-border);
  border-bottom-width: 6px;
}

.btn-plus:hover {
  background-color: var(--keyboard-hover);
}

.btn-plus:active {
  border-bottom-width: 2px;
  height:85px;
  margin-top:3px;
}

.btn-double {
  position:relative;
  top: -6px;
}

.btn-text1 {
  font-family: 'Arial', 'sans-serif';
  font-size:17px;
  font-weight: bold;
  color: var(--keyboard-char);
}

.btn-text2 {
  font-family: 'Arial', 'sans-serif';
  font-size:16px;
  font-weight: bold;
  color: var(--keyboard-char);
}

.btn-text3 {
  font-family: 'Arial', 'sans-serif';
  font-size:14px;
  font-weight: bold;
  color: var(--keyboard-char);
}

.btn-text4 {
  font-family: 'Arial', 'sans-serif';
  font-size:13px;
  font-weight: bold;
  color: var(--keyboard-char);
}

.btn-show {
  display: inline;
  float:left;

  width:80px;
  height:80px;
  text-align: center;
  margin:0;
  line-height: 15px;
  outline:none;
  background-color: var(--keyboard-bg);

  border-radius:11px;
  border: 4px solid var(--keyboard-border);
  border-bottom-width: 10px;
}

.btn-show-text {
  font-family: 'Arial', 'sans-serif';
  color: var(--keyboard-char);
  font-size:40px;

  position: relative;
  top:30px;
}

.mouse-left {
  display:block;
  position: absolute;
  background:none;
  border:none;
  outline:none;
  width:93px;
  height:111px;
  background-image: var(--mouse-left);
  background-size: contain;
  background-repeat: no-repeat;
}

.mouse-left:active {
  background-image: var(--mouse-left2);
}

.mouse-middle {
  display:block;
  position: absolute;
  left:121px;
  margin-top: 56px;
  background:none;
  border:none;
  outline:none;
  width:26px;
  height:55px;
  background-image: var(--mouse-middle);
  background-size: contain;
  background-repeat: no-repeat;
}

.mouse-middle:active {
  background-image: var(--mouse-middle2);
}

.mouse-right {
  display:block;
  position: absolute;
  left:133px;
  background:none;
  border:none;
  outline:none;
  width:93px;
  height:111px;
  background-image: var(--mouse-right);
  background-size: contain;
  background-repeat: no-repeat;
}

.mouse-right:active {
  background-image: var(--mouse-right2);
}

.mouse-bottom {
  content: var(--mouse-bottom);
  display:block;
  position: absolute;
  margin-top:112px;
  background:none;
  border:none;
  outline:none;
  width:172px;
  height:185px;
}

.controller {
  content: var(--controller);
}
