html, body {height:100%; overflow-x: hidden; margin: 0;}

body {
  background-color: rgb(5, 7, 4)
}

@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: AltaSerif;
  src: url("assets/AftaSerifThin-Regular.otf");
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 4.5%;
  width: 13%;
  height: 100%;
  padding-top: 30px;
}

.menu img {
  width: 20px;
  height: 20px;
  margin-right:18px;
}

.menu-btn {
  display: block;
  text-decoration: none;
  font-family: Montserrat-Light, sans-serif;
  font-size: 23px;
  color: rgb(247, 255, 255);
  margin-bottom: 28px;
  opacity: 0.5;
}

.menu-btn:hover {
  opacity: 0.66;
}

.menu-active {
  display: block;
  text-decoration: none;
  font-family: Montserrat-Light, sans-serif;
  font-size: 23px;
  color: rgb(247, 255, 255);
  margin-bottom: 28px;
  opacity: 0.81;
}

.menu p {
  font-family: Montserrat, sans-serif;
  font-size: 43px;
  font-weight: bold;
  color: rgb(247, 255, 255);
  margin-top: -10px;
  margin-bottom: 0;
}

.banner {
  display: inline-block;
  width: 40%;
  min-height: 100%;
  background-image: url("assets/leftsmoke.jpg");
  background-size: cover;
}

.banner-header {
  background-color: rgb(0, 0, 0, 0.8);
  margin-top: 48%;
  padding-top: 1px;
  width:82vw;
  height:180px;
  backdrop-filter: blur(9px);
}

.banner-title {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  margin-top: 25px;
  margin-left:auto;
  margin-right:auto;
  width:380px;
}

.banner-subtitle {
  font-family: Montserrat-Light, sans-serif;
  font-size: 26px;
  color: rgb(189, 195, 195);
  margin-top: -15px;
  margin-left:auto;
  margin-right:auto;
  padding-left:5px;
  width:380px;
}

.content {
  display: inline-block;
  width: 81vw;
  min-height: 100%;
  background-image: url("assets/leftsmoke.jpg");
  background-size: 48.8%;
  background-repeat: repeat-y;
}

.contentup {
  background-color: rgb(0, 0, 0, 0.86);
  left: -350px;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
  width:388px;
  height:40px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.contentup span {
  font-family: Montserrat, sans-serif;
  font-size: 59px;
  color: rgb(225, 235, 235);
  position: relative;
  top: 19px;
  left: 38px;
}

.contentline {
  position: relative;
  width: 50px;
  top: 47px;
  left: 47px;
  border-bottom: 5px dotted rgb(255, 255, 255, 0.62);
}

.contentin {
  background-color: rgb(0, 0, 0, 0.86);
  margin-left: auto;
  margin-right:auto;
  width:1000px;
  height:1200px;
  border-radius: 21px;
  padding-top: 110px;
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 30px;
}

.conbody {
  font-family: Montserrat-Light, sans-serif;
  font-size: 18px;
  color: rgb(189, 195, 195);
}

.quote {
  font-family: AltaSerif, serif;
  font-size: 26px;
  color: rgb(189, 195, 195);
}

.quote span {
  display: block;
  float: right;
  font-family: Montserrat-Light, sans-serif;
  font-size: 23px;
  font-style: italic;
  color: rgb(189, 195, 195);
  margin-top: 15px;
}

.ayrac {
  display: block;
  background-image: url("assets/ayrac.png");
  width: 325px;
  height: 26px;
  opacity: 0.61;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom:65px;
}

.langshowcase {
  display: inline-block;
  margin-right: 15px;
}

.langshowcase img {
  width: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.langshowcase p {
  font-family: Montserrat-Light, sans-serif;
  font-size: 15px;
  color: rgb(189, 195, 195);
  text-align: center;
  margin: 0;
}

.largelangshowcase img {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.largelangshowcase {
  display: inline-block;
  margin-right: 15px;
}

.largelangshowcase p {
  font-family: Montserrat-Light, sans-serif;
  font-size: 22px;
  color: rgb(189, 195, 195);
  text-align: center;
  margin: 0;
}

.langrow {
  margin-left: auto;
  margin-right: auto;
}
