html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    overscroll-behavior: none;
    touch-action: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.block {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    background: none;
    width: 100px;
    height: 100px;
    position: absolute;
}

.blockimg {
    height: 100px;
}

.blockimgv {
    width: 100px;
}